* {
    margin: 0;
    padding: 0;
    box-sizing: bordblockr-box;
}

html {
    font-size: 62.5%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: fixed;
    z-index: 3;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo-section img {
    width: 3.5rem;
}

.logo {
    font-size: 3rem;
    color: #fff;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    list-style: none;
    font-size: 1.8rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
}

.ul li {
    cursor: pointer;
}

.ul li:hover {
    color: #3b82f6;
}

.quote {
    color: #3b82f6;
}

.home:active,
.quote:active,
.restaurants:active,
.foods:active,
.contact:active {
    color: #3b82f6;
}

.more {
    width: 50%;
    max-width: 13rem;
    display: flex;
    gap: 1rem;
}

.btn, .menu {
    background-color: #3b82f6;
    color: #fff;
    border: 2px solid #3b82f6;
}

.btn {
    min-width: 60%;
    max-width: 13rem;
}

.btn:hover,
.menu:hover {
    background-color: #2563eb;
    border-color: #2563eb;
}

.menu {
    display: none;
    width: 50%;
    max-width: 13rem;
}

@media screen and (max-width:768px) {
    .ul {
        display: none;
    }

    .more {
        max-width: 20rem;
    }
    
    .menu {
        display: block;
    }

    .btn, .menu {
        padding: 5px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:344px) {
    .logo {
        font-size: 1.8rem;
    }

    .more {
        flex-direction: column;
        align-items: center;
    }

    .btn, .menu {
        width: 100%;
    }
}

@media screen and (max-width:250px) {
    .nav {
        flex-direction: column;
    }

    .more {
        width: 100%;
    }
}