* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.quotes-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 12rem 4rem 5rem;
}

@media screen and (max-width:550px) {
    .quotes-container {
        padding: 12rem 1rem 5rem;
    }
}

@media screen and (max-width:344px) {
    .quotes-container {
        padding-top: 15rem;
    }
}

@media screen and (max-width:250px) {
    .quotes-container {
        padding-top: 19rem;
    }
}